# Ignore Visual Studio and Clion build results and cache

# CLion files and executables
**/cmake-build-debug
**/*.exe
**/.idea


# Visual Studio build results
x64/
x86/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio's users files
*.user