# Исключение бинарных файлов компиляции
*.exe
*.dll
*.pdb

# Исключение временных файлов и каталогов
bin/
obj/
packages/

# Исключение файлов конфигурации и локальных файлов пользователя
*.suo
*.user
.vs/

# Исключение файлов журналов и отчетов о сбоях
*.log
*.crash